# Build output
x64/
x86/
Debug/
Release/
*.obj
*.pdb
*.exe
*.dll
*.lib
*.exp
*.ilk
*.iobj
*.ipdb
*.log

# VS temp / cache
.vs/
*.user
*.suo
*.sdf
*.opensdf
*.cachefile
*.VC.db
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.idb
*.pdb
*.ipch
*.bsc

# OS junk
Thumbs.db
.DS_Store
desktop.ini
